# Programming Assignment 21

Question1<br>
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.

In [1]:
def next_in_line(l, n):
    try:
        l.pop(0)
        l.append(n)
        return l
    except:
        print('No list has been selected')

In [2]:
next_in_line([5,6,7,8,9], 1)

[6, 7, 8, 9, 1]

In [3]:
next_in_line([7,6,3,23,17], 10)

[6, 3, 23, 17, 10]

In [4]:
next_in_line([1, 10, 20, 42], 6)

[10, 20, 42, 6]

In [5]:
next_in_line([], 6)

No list has been selected

Question2<br>
Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.

In [6]:
def get_budgets(l):
    s = 0
    for d in l:
        s += d['budget']
    return s

In [7]:
get_budgets([
    {'name': 'John', 'age': 21, 'budget': 23000},
    {'name': 'Steve', 'age': 32, 'budget': 40000},
    {'name': 'Martin', 'age': 16, 'budget': 2700}
])

65700

In [8]:
get_budgets([
    {'name': 'John', 'age': 21, 'budget': 29000},
    {'name': 'Steve', 'age': 32, 'budget': 32000},
    {'name': 'Martin', 'age': 16, 'budget': 1600}
])

62600

Question3<br>
Create a function that takes a string and returns a string with its letters in alphabetical order.

In [9]:
def alphabet_soup(s):
    s1 = ''
    for i in sorted(list(s)):
        s1 += i
    return s1

In [10]:
alphabet_soup('hello')

'ehllo'

In [11]:
alphabet_soup('edabit')

'abdeit'

In [12]:
alphabet_soup('hacker')

'acehkr'

In [13]:
alphabet_soup('geek')

'eegk'

In [14]:
alphabet_soup('javascript')

'aacijprstv'

Question4<br>
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?<br>
Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.

In [15]:
def compound_interest(p, t, r, n):
    value = p * (1 + r/n) ** (n * t)
    return round(value, 2)

In [16]:
compound_interest(100, 1, 0.05, 1)

105.0

In [17]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [18]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

Question5<br>
Write a function that takes a list of elements and returns only the integers.

In [19]:
def return_only_integers(l):
    return [i for i in l if type(i) == int]

In [20]:
return_only_integers([9, 2, 'space', 'car', 'lion', 16])

[9, 2, 16]

In [21]:
return_only_integers(['hello', 81, 'basketball', 123, 'fox'])

[81, 123]

In [22]:
return_only_integers([10, '121', 56, 20, 'car', 3, 'lion'])

[10, 56, 20, 3]

In [23]:
return_only_integers(['String', True, 3.3, 1])

[1]