# Programming Assignment 23

Question 1<br>
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [1]:
def is_symmetrical(n):
    s = str(n)
    for i in range(0, len(s)):
        if s[i] != s[-i-1]:
            return False
    return True

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

Question 2<br>
Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [7]:
def multiply_nums(s):
    l = s.split(', ')
    p = 1
    for i in l:
        p *= int(i)
    return p

In [8]:
multiply_nums('2, 3')

6

In [9]:
multiply_nums('1, 2, 3, 4')

24

In [10]:
multiply_nums('54, 75, 453, 0')

0

In [11]:
multiply_nums('10, -2')

-20

Question 3<br>
Create a function that squares every digit of a number.

In [12]:
def square_digits(n):
    s = ''
    for i in str(n):
        s += str(int(i) ** 2)
    return int(s)

In [13]:
square_digits(9119)

811181

In [14]:
square_digits(2483)

416649

In [15]:
square_digits(3212)

9414

Question 4<br>
Create a function that sorts a list and removes all duplicate items from it.

In [16]:
def setify(l):
    return list(set(l))

In [17]:
setify([1,3,3,5,5])

[1, 3, 5]

In [18]:
setify([4,4,4,4])

[4]

In [19]:
setify([5,7,8,9,10,15])

[5, 7, 8, 9, 10, 15]

In [20]:
setify([3,3,3,2,1])

[1, 2, 3]

Question 5<br>
Create a function that returns the mean of all digits.

In [21]:
def mean(n):
    s = str(n)
    num = 0
    for i in s:
        num += int(i)
    return int(num/len(s))

In [22]:
mean(42)

3

In [23]:
mean(12345)

3

In [24]:
mean(666)

6